@media screen and (min-width: $mobile-start) and (max-width: $mobile-end) {
  .wrapper {
    .questions-container {
      width: 85%;
      padding: 15px;

      .question {
        h1 {
          font-size: 20px;
        }
      }
    }

    .completed-container {
      width: 85%;
      padding: 15px;
      h1 {
        font-size: 25px;
        line-height: 35px;
      }

      p {
        font-size: 20px;
      }
    }
  }
}
