.wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

  .questions-container {
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    width: 700px;
    display: inherit;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;

    mat-progress-bar {
      height: 10px;
    }

    p {
      text-align: center;
      span {
        font-weight: bold;
      }
    }

    h1 {
      color: #ffc23c;
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 30px;
    }

    .question {
      h1 {
        margin-top: 50px;
        color: black;
        text-align: center;
        line-height: 40px;
      }

      .points {
        font-weight: bold;
        font-size: 20px;
      }
    }

    .answers {
      width: 100%;
      margin-bottom: 20px;

      li {
        cursor: pointer;
      }

      .answer {
        padding: 10px 0px;
        margin: 0px 0px 20px 0px;
        border: 2px solid rgb(195, 195, 195);
        border-radius: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .answer:hover {
        border: 2px solid rgb(48, 48, 48);
      }
    }

    .buttons {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        background-color: white;
        border: none;
        cursor: pointer;
      }

      button:active {
        border: 2px solid rgb(168, 168, 168);
      }
    }
  }

  .completed-container {
    width: 700px;
    padding: 60px 30px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      line-height: 60px;
      margin-bottom: 40px;
      span {
        color: #ffc23c;
      }
    }

    p {
      font-size: 30px;
      margin-bottom: 30px;
    }

    .correct-answer {
      color: green;
    }

    .wrong-answer {
      color: red;
    }
  }
}
