.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;

  form {
    background-color: white;
    width: 350px;
    border-radius: 10px;
    padding: 40px;

    h1 {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    span {
      color: red;
    }

    input,
    select {
      width: 100%;
      margin-bottom: 15px;
      border: none;
      border-bottom: 2px solid rgb(188, 188, 188);
    }

    input:invalid {
      border: 1px solid rgb(255, 47, 47);
    }

    .checkbox {
      width: auto;
      margin-bottom: 30px;
    }

    .gender {
      margin-top: 15px;
    }

    button {
      display: flex;
      align-content: center;
      margin-bottom: 15px;
      padding: 5px 10px;
      background-color: #ffc23c;
      color: #080112;
      border: 2px solid #080112;
      border-radius: 5px;
    }

    button:disabled {
      color: white;
      background-color: #080112;
    }

    .register-div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    a {
      color: #080112;
      margin-top: 15px;
      cursor: pointer;
      font-weight: bold;
    }
  }

  .quote {
    h1 {
      color: white;
      text-align: center;
      font-size: 35px;
      line-height: 50px;

      span {
        color: #ffc23c;
      }
    }
  }
}
